:root {
    --corprimaria: #fff;
    --corsecundaria: #F98E1E;
    --corauxiliar: #ECECEC;
    --corborda: #9b9b9b;
    --corsecundaria-light: hsl(31, 95%, 75%);
    --corsecundaria-dark: hsl(31, 93%, 35%);
    --cordestaque: #F80404;
    --cortextotitulo: #333333;
    --cortextoparagrafo: #525252;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

main {
    margin-bottom: 70px;
}

#barra-topo {
    top: 0px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 56px;
    background-color: var(--corsecundaria);
    align-items: center;
    /* box-shadow: 0 2px 5px rgba(204, 204, 204,.2); */
}

#menu-principal {
    background-color: var(--corsecundaria);
    position: fixed;
    top: 0;
    left: -305px;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 5px var(--corborda);
    z-index: 9999;
    transition: 0.2s ease-in-out;

}

#menu-principal ul {
    margin-top: 50px;
}

#menu-principal ul li {
    text-align: left;
    padding: 10px;
}

#menu-principal ul li a {
    text-decoration: none;
    color: var(--corprimaria);
    font-size: 1.2rem;
}

#overlay {
    position: fixed;
    background-color: rgba(51, 51, 51, 0.8);
    left: 0;
    /* Esse que faz a animação do botão... 0 ele aparece*/
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
}

.menushow {
    left: 0px !important;
}

.btnMenu {
    font-size: 30px;
    color: var(--corprimaria);
}

.icon-menu {
    font-size: 30px;
    color: #fff;
}

.icon-seta{
    font-size: 30px;
    color: #fff;
}

#btnClose {
    position: absolute;
    font-size: 1.4rem;
    right: 10px;
    border: none;
    background-color: var(--corsecundaria);
    color: var(--corauxiliar)
}

.formato-bolinha {
    border-radius: 50%;
}

#pesquisar {
    position: relative;
    padding: 25px 10px;
    background-color: var(--corsecundaria);
    border-radius: 0px 0px 30px 30px;
    margin-top: 56px;
}

#pesquisar input {
    background: var(--corauxiliar);
    width: 100%;
    padding: 8px 50px 8px 15px;
    border: 1px solid var(--corborda);
    border-radius: 20px;
    height: 40px;
    font-size: 1rem;
}

#pesquisar button {
    background: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 30px;
}

.icon-lupa {
    font-size: 30px;
}

.lista-categorias ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.lista-categorias .item-categorias {
    border: 1px solid var(--corborda);
    border-radius: 18px;
    background-color: var(--corauxiliar);
    text-align: center;
    width: 80px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.lista-categorias p {
    font-size: 0.7rem;
    margin-top: 5px;
    color: var(--cortextotitulo);
}

.icon-hamburger {
    color: #c58803;
    font-size: 30px;
}

.icon-pizza {
    color: #cc1515;
    font-size: 30px;
}

.icon-batata {
    color: #dda305;
    font-size: 30px;
}

.icon-refrigerante {
    color: #4ead3b;
    font-size: 30px;
}

.icon-bebida {
    color: #802900;

    font-size: 30px;
}

.texto-titulo :is(h1, p) {
    width: 100vw;
}

.texto-titulo h1 {
    padding-top: 20px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--cortextotitulo);
}

.texto-titulo p {
    padding-bottom: 20px;
    font-size: 0.9rem;
    text-align: center;
    color: var(--cortextoparagrafo);
}

.lista-produtos {
    display: inline-flex;
    flex-wrap: wrap;
}

.lista-produtos .item-produtos {
    border: 1px solid var(--corborda);
    width: calc(50% - 16px);
    margin: 8px;
    box-shadow: 0 0 5px var(--corborda);
    border-radius: 20px;
    background-color: var(--corauxiliar);
}



.lista-produtos .item-produtos .img-fluid {
    padding: 0;
    max-width: 100%;
    width: 100vw;
    border-radius: 20px 20px 0px 0px;
}


.lista-produtos .item-produtos h2 {
    font-size: 1.2rem;
    color: var(--cortextotitulo);
    padding: 7px 15px;

}

.lista-produtos .item-produtos p {
    text-align: left;
    font-size: 0.8rem;
    padding: 0px 15px;
    color: var(--cortextoparagrafo);
}

 .produto-footer {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: var(--cordestaque);
}

.produto-footer span{
    text-decoration: none;
    color: var(--cordestaque);
}

.icon-adicionar {
    color: var(--corauxiliar);
    font-size: 22px;
}

.btn-adicionar {
    background-color: #e01818;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#rodape #menu-rodape {
    background-color: var(--corsecundaria);
    position: fixed;
    width: 100%;
    height: 56px;
    bottom: 0px;
    box-shadow: 0 2px 5px var(--corborda);

}

#menu-rodape ul {
    display: flex;
    justify-content: space-around;
}

#menu-rodape ul a {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--corprimaria);
    display: block;



}



/*Parte da Pagina produtos*/

.produtos-visualizacao{
    margin-top: 56px;
}

.icon-seta{
    font-size: 30px;
    color: #fff;
}

.produtos-imagem{
    align-items: center;
    width: 100%;
}
.produtos-imagem .img-fluid-produtos{
    width: 100%;
    box-shadow: 0 5px 5px var(--corborda);
    
}

.produtos-descricao{
    margin: 15px;
}

.produtos-descricao h2{
    color: var(--cortextotitulo);
    font-size: 1.8rem;
    margin: 25px 0 25px 0;
}

.produtos-descricao p {
    color: var(--cortextoparagrafo);
}

.btn-adicionar-produtos{
    text-align: center;
    display:block;
    align-content: flex-end;
    
}
.btn-adicionar-produtos button{
   border: none;
   padding: 10px 80px;
    background-color: #cc1515;
    color: var(--corprimaria);
    font-size: 1rem;
    border-radius: 10px;
    margin: 40px;
}
