@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7uwzjo');
  src:  url('fonts/icomoon.eot?7uwzjo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7uwzjo') format('truetype'),
    url('fonts/icomoon.woff?7uwzjo') format('woff'),
    url('fonts/icomoon.svg?7uwzjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-seta:before {
  content: "\e902";
}
.icon-bebida:before {
  content: "\bebda";
}
.icon-hamburger:before {
  content: "\e900";
}
.icon-batata:before {
  content: "\ba";
}
.icon-pizza:before {
  content: "\e905";
}
.icon-refrigerante:before {
  content: "\e906";
}
.icon-adicionar:before {
  content: "\e907";
}
.icon-carrinho:before {
  content: "\e908";
}
.icon-casa:before {
  content: "\e909";
}
.icon-coracao:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-lupa:before {
  content: "\e90c";
}
.icon-pedido:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e901";
}
